language: node_js
node_js:
- '8.11.3'


branches:
  only:
    - master

before_script:
  - npm install -g @angular/cli@6.2.1
  - npm i

script:
  - ng build --base-href /soundset/

deploy:
  provider: s3
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  bucket: visualiza.tideapps.com
  skip_cleanup: true
  upload-dir: soundset
  local_dir: dist/soundsetManager

notifications:
  email:
    on_failure: change
    on_success: change
