<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TIDE Intelligent Sound Analysis</a>

    <a *ngIf="userName" class="text-light">
        {{userName}}
    </a> 
    <form class="form-inline">
      <div *ngIf="userName">
          <button class="btn btn-primary my-2 my-sm-0 mr-2" (click)="logout()">Logout</button>
      </div>

    </form>
  </div>
</nav>

<main role="main" class="container-fluid">
    <router-outlet></router-outlet>
</main>
